*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap:6rem;
    background-color: #121417;
}

h1{
    height: 5rem;
    color: rgb(6, 247, 6);
    font-size: 4rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px rgb(248, 248, 248);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

.outer-container{
    height: 90vh;
    width: 60vh;
    box-shadow: 0px 0px 10px rgb(235, 232, 232);
    background-color:#121417;
    border-radius: 10px;
    margin-top:35px;
    text-align: center;
}

.buttons{
    height: 75vh;
    width: 60vh;
    box-shadow: 0px 0px 10px rgb(235, 232, 232);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color:#121417;
    border-radius: 10px;
    margin-top:1rem;
}

.screen{
    height: 5rem;
    width:57vmin;
    color: #ffffff;
    background-color: #121417;
    font-size: 3rem;
    text-align: right;
    padding-right: 1rem;
    padding-top: 10px;
    border-radius:10px;
    box-shadow: 0px 0px 15px rgb(245, 241, 241);
    margin-top: 5px;
    margin-left: 2.5px;
    margin-bottom: 10px;
    overflow: auto;
}
.button{
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(230, 227, 227);
    cursor: pointer;
    font-size:1.5rem ;
    font-family: sans-serif;
    margin: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#AC,#Del,#mod,#divide,#mul,#sub,#add{
    color: rgb(6, 247, 6);
}

.screen:hover{
    box-shadow: 0px 0px 15px rgb(6, 247, 6);
}
.buttons:hover{
    box-shadow: 0px 0px 10px  rgb(6, 247, 6);
}
h1:hover{
    box-shadow: 0px 0px 10px  rgb(6, 247, 6);
    color: #ffffff;
}
.button:hover{
    box-shadow: 0px 0px 10px rgb(243, 1, 1);
}



#equal{
    background-color: orangered;
}

.outer-container:hover{
    box-shadow: 0px 0px 10px  rgb(6, 247, 6);
}